In [ ]:
                                          #Loop Questions

In [1]:
#1) to print numbers from 1-10 using loop

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
#2) to find sum of all numbers from 1-100 using for loop

In [2]:
sum_all=0
for i in range(1,101):
    sum_all+=i
    print("the sum of",i, "numbers is:",sum_all)

the sum of 1 numbers is: 1
the sum of 2 numbers is: 3
the sum of 3 numbers is: 6
the sum of 4 numbers is: 10
the sum of 5 numbers is: 15
the sum of 6 numbers is: 21
the sum of 7 numbers is: 28
the sum of 8 numbers is: 36
the sum of 9 numbers is: 45
the sum of 10 numbers is: 55
the sum of 11 numbers is: 66
the sum of 12 numbers is: 78
the sum of 13 numbers is: 91
the sum of 14 numbers is: 105
the sum of 15 numbers is: 120
the sum of 16 numbers is: 136
the sum of 17 numbers is: 153
the sum of 18 numbers is: 171
the sum of 19 numbers is: 190
the sum of 20 numbers is: 210
the sum of 21 numbers is: 231
the sum of 22 numbers is: 253
the sum of 23 numbers is: 276
the sum of 24 numbers is: 300
the sum of 25 numbers is: 325
the sum of 26 numbers is: 351
the sum of 27 numbers is: 378
the sum of 28 numbers is: 406
the sum of 29 numbers is: 435
the sum of 30 numbers is: 465
the sum of 31 numbers is: 496
the sum of 32 numbers is: 528
the sum of 33 numbers is: 561
the sum of 34 numbers is: 595
the sum of 35 numbers is: 630
the sum of 36 numbers is: 666
the sum of 37 numbers is: 703
the sum of 38 numbers is: 741
the sum of 39 numbers is: 780
the sum of 40 numbers is: 820
the sum of 41 numbers is: 861
the sum of 42 numbers is: 903
the sum of 43 numbers is: 946
the sum of 44 numbers is: 990
the sum of 45 numbers is: 1035
the sum of 46 numbers is: 1081
the sum of 47 numbers is: 1128
the sum of 48 numbers is: 1176
the sum of 49 numbers is: 1225
the sum of 50 numbers is: 1275
the sum of 51 numbers is: 1326
the sum of 52 numbers is: 1378
the sum of 53 numbers is: 1431
the sum of 54 numbers is: 1485
the sum of 55 numbers is: 1540
the sum of 56 numbers is: 1596
the sum of 57 numbers is: 1653
the sum of 58 numbers is: 1711
the sum of 59 numbers is: 1770
the sum of 60 numbers is: 1830
the sum of 61 numbers is: 1891
the sum of 62 numbers is: 1953
the sum of 63 numbers is: 2016
the sum of 64 numbers is: 2080
the sum of 65 numbers is: 2145
the sum of 66 numbers is: 2211
the sum of 67 numbers is: 2278
the sum of 68 numbers is: 2346
the sum of 69 numbers is: 2415
the sum of 70 numbers is: 2485
the sum of 71 numbers is: 2556
the sum of 72 numbers is: 2628
the sum of 73 numbers is: 2701
the sum of 74 numbers is: 2775
the sum of 75 numbers is: 2850
the sum of 76 numbers is: 2926
the sum of 77 numbers is: 3003
the sum of 78 numbers is: 3081
the sum of 79 numbers is: 3160
the sum of 80 numbers is: 3240
the sum of 81 numbers is: 3321
the sum of 82 numbers is: 3403
the sum of 83 numbers is: 3486
the sum of 84 numbers is: 3570
the sum of 85 numbers is: 3655
the sum of 86 numbers is: 3741
the sum of 87 numbers is: 3828
the sum of 88 numbers is: 3916
the sum of 89 numbers is: 4005
the sum of 90 numbers is: 4095
the sum of 91 numbers is: 4186
the sum of 92 numbers is: 4278
the sum of 93 numbers is: 4371
the sum of 94 numbers is: 4465
the sum of 95 numbers is: 4560
the sum of 96 numbers is: 4656
the sum of 97 numbers is: 4753
the sum of 98 numbers is: 4851
the sum of 99 numbers is: 4950
the sum of 100 numbers is: 5050

In [10]:
#4) to iterate through a list using loop

In [29]:
l1=['sunita','choudhary']

In [37]:
for i in l1:
     print(i)

sunita
choudhary

In [38]:
#5) to find product of all elements in list using for loop

In [52]:
l1=[2,3,4]

In [58]:
m=1
for i in range(0,(len(l1))):
    m=m*l1[i]
    print(m)

2
6
24

In [59]:
#6) to print all even numbers from 1-20

In [3]:
for i in range(0,21):
    if (i%2==0):
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [71]:
#7)to calculate the factorial of a number using for loop

In [76]:
print("enter the number")

enter the number

In [78]:
i=int(input())

 8

In [80]:
fact=1
for i in range (1,(i+1)):
    fact=fact*i

In [81]:
print("the factorial of the above number is:",fact)

the factorial of the above number is: 40320

In [82]:
#8) to iterate through characters of string using loop

In [83]:
s=str(input)

In [84]:
s='simranjeet'

In [94]:
count=''
for i in s:
    count= s.join(i)
    print(count)

s
i
m
r
a
n
j
e
e
t

In [95]:
#9) to find largest number in a list using for loop

In [96]:
list1=[2,3,4,5,6]

In [97]:
total_sum =max(list1)            #max() function to find maximum value

In [98]:
print("the maximum value in above list is:",total_sum)

the maximum value in above list is: 6

In [99]:
#10) to print fibonacci series upto a certain limit

In [100]:
num= int(input("enter range of number:"))

enter range of number: 7

In [101]:
first=0
second=1

In [102]:
for n in range(0,num):
    if (n<=1):
        next=n
    else:
        next=first+second
        first=second
        second=next
    print(next)

0
1
1
2
3
5
8

In [103]:
#11) to count the number of vowels in a string using loop

In [104]:
s="MissisippI"

In [105]:
s.lower()

'missisippi'

In [106]:
count=0
for i in s:
    if(i=='a'or i=='e' or i=='o' or i=='u' or i=='i'):
            count+=1

In [107]:
print("the number of vowels in the string are:",count)

the number of vowels in the string are: 3

In [108]:
#12) to generate a multiplication table using for loop

In [109]:
n=int(input())

 5

In [110]:
for i in range (1,11):    
    print(n,'*',i,'=',n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [111]:
#13) to reverse a list using for loop

In [112]:
#to input string
a=str(input)

In [113]:
a="India is a beautiful country"

In [114]:
#to read the string backwards
b=a[::-1]

In [115]:
print("the reverse of above string is:", b)

the reverse of above string is: yrtnuoc lufituaeb a si aidnI

In [116]:
#14) to find common elements between two lists using for loop

In [117]:
list1=[1,2,3,4,5]

In [118]:
list2=[3,4,5,6,7]

In [119]:
for i in list1[:]:
    if i in list2:
        list1.remove(i)
        list2.remove(i)

In [120]:
print("list1:",list1)

list1: [1, 2]

In [121]:
print("list2:",list2)

list2: [6, 7]

In [122]:
#15) to iterate through the keys and values of dictionary using loop

In [147]:
l1={'name':'sunita', 'place':'lucknow','degree':'bachelors'}

In [153]:
l1.values()

dict_values(['sunita', 'lucknow', 'bachelors'])

In [155]:
for keys in l1:
    print(keys)

name
place
degree

In [156]:
#16) to find GCD among two numbers using loop

In [18]:
num1=int(input())

 20

In [19]:
num2=int(input())

 40

In [20]:
gcd=1

In [21]:
for i in range(1, min(num1,num2)):
    if num1%i==0 and num2%2==0:
        gcd=i

In [23]:
print("the greatest common factor of 20 and 40 is:", gcd)

the greatest common factor of 15 and 25 is: 10

In [24]:
#17) to check if a string is pallindrome or not

In [25]:
s=str(input)

In [26]:
s='simranjeet'

In [30]:
for i in s:
    if s[::-1]==s:
          print("the string is a pallindrome")
else:
          print("the string is not a pallindrome")

the string is not a pallindrome

In [31]:
#18) to remove duplicates from a list using loop

In [1]:
l1=[13,57,13,41,86,41]

In [2]:
print("the list is:",l1)

the list is: [13, 57, 13, 41, 86, 41]

In [3]:
result=[]

In [5]:
for i in l1:
    if i not in result:
        result.append(i)
        print("the final list after removing duplicates is:",result)

the final list after removing duplicates is: [13]
the final list after removing duplicates is: [13, 57]
the final list after removing duplicates is: [13, 57, 41]
the final list after removing duplicates is: [13, 57, 41, 86]

In [6]:
#19) to count the number of words in a sentence using for loop

In [7]:
s=str(input)

In [8]:
s=" india is a beautiful country"

In [14]:
count=0
for i in s:
    count+=1
    print("the length of the sentence is:",count)

the length of the sentence is: 1
the length of the sentence is: 2
the length of the sentence is: 3
the length of the sentence is: 4
the length of the sentence is: 5
the length of the sentence is: 6
the length of the sentence is: 7
the length of the sentence is: 8
the length of the sentence is: 9
the length of the sentence is: 10
the length of the sentence is: 11
the length of the sentence is: 12
the length of the sentence is: 13
the length of the sentence is: 14
the length of the sentence is: 15
the length of the sentence is: 16
the length of the sentence is: 17
the length of the sentence is: 18
the length of the sentence is: 19
the length of the sentence is: 20
the length of the sentence is: 21
the length of the sentence is: 22
the length of the sentence is: 23
the length of the sentence is: 24
the length of the sentence is: 25
the length of the sentence is: 26
the length of the sentence is: 27
the length of the sentence is: 28
the length of the sentence is: 29

In [15]:
#20) to find sum of all odd numbers from 1-50 using loop

In [44]:
sum=0
for i in range(1,50,2):  
    if i%2==1:
        sum=sum+i
        sum+=1
    print(sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [45]:
#21) to check if a given year is a leap year or not

In [46]:
print("enter a year")

enter a year

In [47]:
i=int(input())

 3100

In [48]:
if(i%4==0):
    print("the given year is a leap year")
else:
    print("the given year is not a leap year")

the given year is a leap year

In [49]:
#22) to calculate square root of a number

In [50]:
num=6
for i in range (0,num):
    print("sqaure",i,i**2)

sqaure 0 0
sqaure 1 1
sqaure 2 4
sqaure 3 9
sqaure 4 16
sqaure 5 25

In [51]:
#23) to calculate LCM of two numbers using for loop

In [78]:
num1=12
num2=20

In [80]:
gcd=1
for i in range(1, min(num1,num2)):
    if num1%i==0 and num2%2==0:
        gcd=i
lcm=(num1*num2)/gcd        
print(lcm)

40.0

In [ ]:
                                       #IF-ELSE problems

In [81]:
#1) to check if a number is positive,negative or zero

In [82]:
print("enter a number")

enter a number

In [83]:
i=int(input())

 5

In [84]:
if(i<0):
    print("the number is negative")
elif(i==0):
    print("the number is zero")
else:
    print("the number is positive")

the number is positive

In [85]:
#2) to check if a numbr is odd or even

In [86]:
print("enter a number")

enter a number

In [87]:
i=int(input())

 33

In [88]:
if(i%2==0):
    print("the given number is even")
else:
    print("the given number is odd")

the given number is odd

In [89]:
#3) to use nested if else statement in python

In [90]:
print("enter the angle")

enter the angle

In [91]:
i=int(input())

 103

In [92]:
if(60<=i<=90):
    print("the angle is acute")
elif(i==90):
    print("the angle is a right angle")
elif(90<=i<=180):
    print("the angle if obtuse")

the angle if obtuse

In [93]:
#4) to find largest of three numbers

In [94]:
print("enter three numbers")

enter three numbers

In [95]:
i=12
j=16
k=19

In [96]:
if(i>=j) and (i>=k):
    print(" the greatest number is i")
elif (j>=i) and (j>=k):
    print("the greatest number is j")
else:
    print("the greatest number is k")

the greatest number is k

In [97]:
#5)to calculate the absolute value using if else

In [98]:
print("enter the absolute number")

enter the absolute number

In [111]:
i=int(input())

 -3

In [107]:
if(i<0):
    value= i*-1
    print("the absolute value is:", value)
else:
    print("the absolute value is")

the absolute value is: 3

In [112]:
#6) to check if a given character is vowel or consonant

In [113]:
print("enter a character")

enter a character

In [114]:
s=str(input)

In [115]:
s='z'

In [116]:
if(s=='a' or s=='i' or s=='o' or s=='e' or s=='u'):
    print("the given number is a vowel")
else:
    print("the given number is a consonant")

the given number is a consonant

In [117]:
#7) to check if a person is eligible to vote or not

In [118]:
i=int(input("enter the age to vote"))

enter the age to vote 18

In [119]:
x=int(input("enter your age"))

enter your age 27

In [120]:
if(i<x):
    print("you are eligible to vote")
else:
    print("you are not eligiblr to vote")

you are eligible to vote

In [121]:
#8) to calculate the discount on a particular item

In [122]:
amt=int(input("enter the amount"))

enter the amount 5000

In [123]:
if(amt>0):
    if(amt<=5000):
        disc=amt*0.05
    elif(amt<=10000):
        disc=amt*0.10
    elif(amt<=25000):
        disc=amt*0.15
    else:
        disc=amt*0.20
    print("discount=:",disc)
    print("net pay=:",amt-disc)

discount=: 250.0
net pay=: 4750.0

In [124]:
#9) to check if a number is within a specified range

In [126]:
i=int(input("enter a number"))

enter a number 78

In [128]:
for x in range(1,70):
    if i==x:
        print("true")
        break
else:
    print("false")

false

In [129]:
#10) to determine grades of student using ifelse

In [130]:
i=int(input("enter the grade of student"))

enter the grade of student 67

In [131]:
if(90<=i<=100):
    print("A")
elif(80<=i<=90):
    print("B")
elif(70<=i<=80):
    print("C")
elif(60<=i<=70):
    print("D")
elif(50<=i<=60):
    print("E")
elif(40<=i<=50):
    print("F")
else:
    print("FAIL")

D

In [132]:
#11) to check if a string is empty or not

In [133]:
s=str(input)

In [134]:
s="simranjeet"

In [135]:
if s=="":
    print("the string is empty")
else:
    print("the string is not empty")

the string is not empty

In [136]:
#12) to identify a triangle based on input values

In [142]:
x=int(input("enetr the angle of triangle"))

enetr the angle of triangle 60

In [143]:
y=int(input("enetr the angle of triangle"))

enetr the angle of triangle 70

In [144]:
z=int(input("enetr the angle of triangle"))

enetr the angle of triangle 80

In [145]:
if(x==y==z):
    print("the triangle is equilateral")
elif(x==y or y==z or z==x):
    print("the triangle is isosceles")
else:
    print("the triangle is scalene")

the triangle is scalene

In [146]:
#13) to determine which day of week it is

In [147]:
i=int(input("enter a number for week-day"))

enter a number for week-day 4

In [148]:
if(i==1):
    print("Sunday")
elif(i==2):
    print("Monday")
elif(i==3):
    print("Tuesday")
elif(i==4):
    print("Wednesday")
elif(i==5):
    print("Thursday")
elif(i==6):
    print("Friday")
else:
    print("Saturday")

Wednesday

In [149]:
#14) to check if a given year is a leap year or not

In [150]:
i=int(input("enter the year"))

enter the year 1997

In [152]:
if(i%4==0):
    print("the given year is a leap year")
else:
    print("the given year is not a leap year")

the given year is not a leap year

In [153]:
#16) eligibility of a person for senior citizen discount

In [155]:
age=int(input("enter the age of person"))

enter the age of person 55

In [157]:
if(age>0):
    if(50<=age<=60):
        disc=age*0.05
    elif(60<=age<=70):
        disc=age*0.10
    elif(70<=age<=80):
        disc=age*0.15
    else:
        disc=age*0.20
    print("discount=:",disc)

discount=: 2.75

In [158]:
#17) to determine if a sentence is uppercase or lowercase

In [159]:
s=str(input)

In [162]:
s="A"

In [163]:
if(ord(s)<96):
    print("the character is uppercase")
elif(ord(s)<122):
    print("the character is lowercase")
elif(ord(s)=='!@#$%^&*'):
     print("the character is special")

the character is uppercase

In [164]:
#18) to find the roots of a quadratic equation

In [165]:
print("equation: ax^2+bx+c")

equation: ax^2+bx+c

In [166]:
a=int(input("enter the number"))

enter the number 1

In [167]:
b=int(input("enter the number"))

enter the number -5

In [168]:
c=int(input("enter the number"))

enter the number 6

In [169]:
d=b**2-4*a*c

In [170]:
e=d**0.5

In [171]:
if(d<0):
    print("the roots are imagianry")
else:
    r1=(-b+e)/2*a
    r2=(-b-e)/2*a
    print("the first root is:",round( r1))
    print("the second root is:",round(r2))

the first root is: 3
the second root is: 2

In [172]:
#19) to check if a year is century year or not

In [173]:
i=int(input("enter the year"))

enter the year 2100

In [174]:
if(i%100==0):
    print("the year is a century year")
else:
    print("the year is not a century year")

the year is a century year

In [175]:
#20) to determine if a number is perfect square or not

In [196]:
num=int(input("enter a number"))

enter a number 47

In [197]:
for i in range(1, i*i<=num):
    if(num%i==0 & num/i==1):
        print("the number is a perfect square")
else:
        print("the number is not a perfect square")

the number is not a perfect square

In [198]:
#22) to calculate BMI of a person

In [216]:
h=float(input("enter the height"))

enter the height 1.9

In [217]:
w=int(input("enetr the weight"))

enetr the weight 80

In [218]:
BMI= w/float(h*h)

In [219]:
if(BMI<18.5):
    print("underweight")
elif(18.5<=BMI<=25):
    print("normal")
elif(25<=BMI<=30):
    print("overweight")
elif(BMI>=30):  
    print("obese")

normal

In [220]:
#23)to determine if a number is prime or not

In [221]:
i=int(input("enter a  number"))

enter a  number 11

In [222]:
if(i>0):
    for x in range (2, int(i/2)+1):
        if(i%x==0):
            print(i,"is not a prime number")
            break
        else:
            print(i,"is a prime number")

11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number

In [223]:
#24) to use filter() to filter elements from list

In [228]:
s=str(input)

In [229]:
s="Simranjeet"

In [230]:
list(filter(lambda a: a.islower(), s))

['i', 'm', 'r', 'a', 'n', 'j', 'e', 'e', 't']

In [231]:
                                            # MAP based problems

In [232]:
#1) to demonstrate use of map() to each element of an iterable

In [267]:
i=(1,2,3,4,5)

In [268]:
result=map(lambda x:x+x,i)

In [269]:
print(list(result))

[2, 4, 6, 8, 10]

In [270]:
#2) to use map() to square each element

In [271]:
i=(1,2,3,4,5)

In [272]:
result=map(lambda x:x*x,i)

In [273]:
print(list(result))

[1, 4, 9, 16, 25]

In [274]:
#3) to use map() to convert a list of names to uppercase

In [297]:
s='sunita'

In [307]:
result=map(lambda a: a.upper(), s)

In [308]:
print(list(result))

['S', 'U', 'N', 'I', 'T', 'A']

In [ ]:
#4) use map() to calculate the length of each word in string

In [316]:
s='simranjeet'

In [317]:
result=map(lambda a: len(s), s)

In [318]:
print(list(result))

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [319]:
#5) use map() to convert celsius temperature to fahrenheit

In [364]:
c_list=[25,27]

In [371]:
result=map(lambda a: ((9.0/5.0)/(c+32)), c_list)

In [372]:
print(list(result))

[0.04736842105263158, 0.04736842105263158]

In [373]:
#6) map() to round each element of float to nearest integer

In [381]:
i=[3.142, 8.68]

In [382]:
second=range(2)

In [383]:
result=list(map(round, i, second))

In [384]:
print(list(result))

[3.0, 8.7]

In [385]:
                                               #REDUCE() based problems

In [386]:
#1) basic usage of reduce()

In [395]:
from functools import reduce

In [387]:
l=[2,3,4,5]

In [396]:
prod= reduce(lambda a,b :a*b ,(i for i in l if i%2==0))

In [397]:
print(prod)

8

In [398]:
#2) to find product of all elements in list using reduce()

In [399]:
l=[2,3,4,5]

In [400]:
prod= reduce(lambda a,b :a*b,l )

In [401]:
print(prod)

120

In [402]:
#3) to find maximun element in a list of numbers using reduce()

In [4]:
from functools import reduce

In [5]:
l=[12,34,13,56,100]

In [7]:
print(reduce(max,l))

100

In [1]:
#4) use reduce() to concatenate two lists

In [37]:
from functools import reduce

In [38]:
import operator

In [39]:
l1=["sunita","shikha"]

In [40]:
concat= reduce(operator.concat,l1)

In [41]:
print(concat)

sunitashikha

In [42]:
#5) to calculate factorial using reduce()

In [47]:
from functools import reduce

In [50]:
def factorial(n):
    if (n==0):
        return 1
    else:
        return reduce(lambda x,y: x*y ,range(1,n+1))
    
print(factorial(5))

120

In [51]:
#6) to find GCD using reduce()

In [81]:
from functools import reduce

In [82]:
from math import gcd as _gcd

In [83]:
def find_gcd(num):
    return reduce(_gcd,num)

In [88]:
num=[336,360]

In [95]:
print("GCD OF",",".join (str(e) for e in num))

GCD OF 336,360

In [96]:
                                         #FILTER() based problems

In [97]:
#1) basic usa of filter() over iterables

In [98]:
l=[3,4,5,6,7,8]

In [99]:
list(filter(lambda a:a%2==0,l))

[4, 6, 8]

In [100]:
#2) use of filter() to select even number from a list

In [101]:
l=[3,4,5,6,7,8]

In [102]:
list(filter(lambda a:a%2==0,l))

[4, 6, 8]

In [103]:
#3) use of filter() to select names that start with specific letter in string

In [104]:
s='simranjeet','rahul'

In [105]:
list(filter(lambda a: a[0]=='s',s))

['simranjeet']

In [106]:
#4)use of filter() to select words longer than a certain limit in a list of string

In [109]:
s='simranjeet','sunita','vivekanand'

In [112]:
list(filter(lambda a: (len(a)>=10),s))

['simranjeet', 'vivekanand']

In [113]:
#5)use of filter() to select elements greater than a certain limit in a list of elements

In [114]:
l=[1,2,45,67,89,32,54]

In [115]:
list(filter(lambda a: a<45,l))

[1, 2, 32]